/* src/App.css */

.App {
  text-align: center;
}

.formContainer {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.formControl {
  margin-bottom: 16px;
}

.tableContainer {
  margin-top: 20px;
}

.tableActions {
  text-align: right;
}

.formActions {
  margin-top: 16px;
}
